<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Groceries Home Page</title>
</head>

<body>
<h2>Groceries Home Page</h2>
<hr>
<p>Welcome to the Groceries home page!</p>
<hr>

<p>
    User: <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s): <span sec:authentication="principal.authorities"></span>
</p>

<div sec:authorize="hasRole('USER')">
    <p>
        <a th:href="@{/groceries/list}">Go to Groceries List</a>
    </p>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <p>
        <a th:href="@{/users}">Admin page</a>
    </p>
</div>

<hr>
<form action="#" th:action="@{/logout}"
      method="POST">
    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2"/>
</form>

</body>
</html>
